.container {
    max-width: 620px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.inputs {
    padding: 0 2rem;
}

/* inputs */
.fields {
    display: flex;
    align-items: center;
}

.input__container {
    border: 1px solid #ccc;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.6rem;
}

.name__container {
    flex-basis: 50%;
    margin-right: 1rem;
}

.rate__container {
    /* flex-basis: 5%; */
}

.rate__input,
.name__input {
    border: none;
    padding: 3px 0;
    outline: none;
}

.rate__input {
    padding-right: 1rem;
    width: 80px;
}

.radio__group {
    margin-top: 1rem;
    padding: 0 2rem;
}

.options {
    padding: 0 2rem;
}

.category {
    margin-top: 1rem;
}

.category__label {
    background-color: rgb(248, 246, 246);
}

.item__label {
    margin-left: 1rem;
}

.submit__button {
    display: block;
    background-color: #f0703a;
    border: none;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 3px;
    margin-left: auto;
    margin-right: 2rem;
}

.errors {
    display: flex;
}
.errors > div:first-child {
    flex-basis: 51.5%;

    margin-right: 2rem;
    
}
.errors > div {
    color: rgb(245, 35, 35);
}

/* ---------------------------------------------------------------------------------------------------------- */
/* Custom Radio */

/* The container */
.radio__label {
    display: flex;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.radio__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.mark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: rgb(218, 216, 216);
}

.radio__mark {
    border-radius: 50px;
}

/* On mouse-over, add a grey background color */
.radio__label:hover input ~ .mark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.radio__label input:checked ~ .radio__mark {
    background-color: #f0703a;
}

.radio__label input:checked ~ .check__mark {
    background-color: #327b91;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.radio__label input:checked ~ .mark:after {
    display: block;
}

/* Style the checkmark/indicator */
.radio__label .mark:after {
    left: 31.25%;
    top: 12.5%;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
